input {
  display: block;
  margin-block-start: 1em;
  width: 100%;
  height: 30px;
}

.info__wrapper {
  max-width: 90vw;
  min-height: 50vh;
  background-color: #fff;
  border-radius: 12px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  top: -30px;
  padding: 2em 1em;
}
