@media screen and (min-width: 798px) {
  #RFS-StepperContainer {
    flex-direction: column !important;
    height: auto !important;
    background-image: url("../images/bg-sidebar-desktop.svg") !important;
  }
  #RFS-StepContainer {
    flex: 0;
    margin-block-start: 1em;
  }
  #RFS-ConnectorContainer {
    display: none;
  }
  main {
    display: flex;
  }
  .step__wrapper {
    top: 0px !important;
  }
  .stepper__nav {
    position: relative !important;
  }
}

#RFS-StepperContainer {
  min-width: 320px;
  height: 100px;
  background-image: url("../images/bg-sidebar-mobile.svg");
  background-position: center;
  background-size: cover;
}

#RFS-StepButton,
#RFS-StepButton.completed {
  background-color: transparent !important;
  border: 1px solid white !important;
}

#RFS-StepButton.active {
  background-color: hsl(228, 100%, 84%) !important;
}

.stepper__nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.stepper__nav button {
  cursor: pointer;
}

.stepper__nav button:last-child {
  margin-left: auto;
}

.stepper__nav__back-btn {
  background: none;
  color: gray;
  border: none;
}

.stepper__nav__btn {
  padding: 1em;
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  border: none;
  border-radius: 0.5em;
}
