@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  background-color: hsl(217, 100%, 97%);
}

.step__wrapper {
  max-width: 90vw;
  min-height: 50vh;
  background-color: #fff;
  border-radius: 12px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  top: -30px;
  padding: 2em 1em;
}

.step__description {
  margin-block: 0.5em 1em;
  color: hsl(231, 11%, 63%);
}

.step__header {
  color: hsl(213, 96%, 18%);
}
